{
    "response": 1,
    "hero_project": {
        "title": "Hero Project1",
        "description": "Hero Description1",
        "usd_amount": "123.45",
        "project_id": "1"
    },
    "trending_project": [
        {
            "title": "TrendingProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "2"
        },
        {
            "title": "TrendingProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "3"
        },
        {
            "title": "TrendingProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "4"
        },
        {
            "title": "TrendingProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "5"
        },
        {
            "title": "TrendingProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "6"
        }
    ],
    "top_project": [
        {
            "title": "TopProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "7"
        },
        {
            "title": "TopProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "8"
        },
        {
            "title": "TopProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "9"
        },
        {
            "title": "TopProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "10"
        },
        {
            "title": "TopProject1",
            "category": "Personal Hardships",
            "usd_amount": "420.69",
            "project_id": "11"
        }
    ]
}