{
    "response": 1,
    "proposals": [
        {
            "title": "Proposal Title 1",
            "proposal_id": "1",
            "proposal_description": "blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah",
            "proposal_category": "withdrawal",
            "proposal_owner": "0x53706c7238170dc758b8383d2de0f189cc6ccebc",
            "voting_history": [
                {
                    "voter": "0x53706c7238170dc758b8383d2de0f189cc6ccebc",
                    "voting_currency": "USDT",
                    "voting_currency_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                    "voter_weight": 180.123456789,
                    "vote_time": "2023-07-28 19:31:01",
                    "vote": true
                },
                {
                    "voter": "0x53706c7238170dc758b8383d2de0f189cc6ccebb",
                    "voting_currency": "USDT",
                    "voting_currency_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                    "voter_weight": 180.123456789,
                    "vote_time": "2023-07-28 19:31:01",
                    "vote": false
                },
                {
                    "voter": "0x53706c7238170dc758b8383d2de0f189cc6cceba",
                    "voting_currency": "USDT",
                    "voting_currency_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                    "voter_weight": 180.123456789,
                    "vote_time": "2023-07-28 19:31:01",
                    "vote": false
                }
            ]
        },
        {
            "title": "Proposal Title 2",
            "proposal_id": "2",
            "proposal_category": "withdrawal",
            "proposal_description": "blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah",
            "proposal_owner": "0x53706c7238170dc758b8383d2de0f189cc6ccebc",
            "voting_history": [
            {
                "voter": "0x53706c7238170dc758b8383d2de0f189cc6ccebc",
                "voting_currency": "USDT",
                "voting_currency_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                "voter_weight": 180.123456789,
                "vote_time": "2023-07-28 19:31:01",
                "vote": true
            }
            ]
        }
    ]
}